# .env.example

    DATABASE_TYPE='postgresql'
    DATABASE_HOST='127.0.0.1'
    DATABASE_PORT=5432
    DATABASE_USER='user'
    DATABASE_PASSWORD='xxxxx'
    DATABASE_NAME='Motopp'

    JWT_SECRET_KEY='top secret code'
