# .env.example

DATABASE_TYPE='postgresql'
DATABASE_HOST='127.0.0.1'
DATABASE_PORT=5432
DATABASE_USER='user'
DATABASE_PASSWORD='xxxxx'
DATABASE_NAME='Motopp'
DATABASE_SCHEMA='schemaname'
DATABASE_ECHO=False

JWT_SECRET_KEY='top secret code'

APP_ENV=development
LOG_LEVEL=debug

# Email
EMAIL_SERVICE='mailtrap'    # 'mailtrap', 'mailjet' or 'dummy'

# Sender
MAIL_FROM_EMAIL='user@example.com'
MAIL_FROM_NAME='Name'

# Mailtrap
MAILTRAP_USER='XXXXX'           # (e.g. 'b9759d18917a8c')
MAILTRAP_SMTP_PASSWORD='XXXXX'  # (e.g. 'd0707059f24028')


MAILTRAP_SMTP_HOST='sandbox.smtp.mailtrap.io'
MAILTRAP_SMTP_PORT='2525'       # 25, 465, 587 or 2525
MAILTRAP_USE_TLS='True'

# Mailjet
MAILJET_API_KEY='XXXXX'
MAILJET_SECRET_KEY='XXXXX'

# Frontend
FRONTEND_URL='http://.......'
